@import "./var";

#point-wraper span {
  font-size: 200%;
}
#point-wraper {
  position: absolute;
  left: $PostionTimerAndCounet;
  top: 7%;
  background-color: rgba(0, 0, 0, 0.653);
  padding: 0px 50px;
  z-index: 6;
  transition: all 0.1s;
  font-size: 200%;
  &:hover {
    background-color: rgba(0, 0, 0, 0);

    #point {
      color: rgba(255, 255, 255, 0.1);
      text-shadow: 0px 0px 10px rgba(121, 121, 121, 0.1);
    }
  }
  @media (max-width: 1000px) {
    left: 20px;
  }
}

#point {
  transition: all 0.1s;

  pointer-events: none;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 10px black;
}
