#bg-res {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.922);
  height: 100vh;
  display: none;
  z-index: 10;
}
#rest {
  font-size: 200%;
  position: absolute;
  left: 50%;
  top: 60%;
  width: 10rem;
  height: 4rem;
  cursor: pointer;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0px 0px 10px black;
  transition: all 0.1s;
  &:hover {
    transition: all 0.1s;

    box-shadow: 0px 0px 10px rgb(255, 0, 0);
    border-radius: 10px;
    border: 1px solid red;
    background: red;
    color: white;
    text-transform: uppercase;
    width: 12rem;
  }
}
#result {
  font-size: 250%;
  position: absolute;
  left: 50%;
  top: 30%;
  width: 10rem;
  height: 4rem;
  cursor: pointer;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  div {
    color: red;
    font-weight: bold;
  }
}
