@import "./var";

#timer {
  user-select: none;
  background-color: rgba(0, 0, 0, 0.496);
  color: rgb(255, 0, 0);
  text-shadow: 0px 0px 10px rgb(255, 0, 0);
  position: absolute;
  right: $PostionTimerAndCounet;
  top: 7%;
  background-color: rgba(0, 0, 0, 0.452);
  padding: 18px 50px;
  z-index: 6;
  transition: all 0.1s;
  font-size: 200%;

  &:hover {
    background-color: rgba(0, 0, 0, 0);
    opacity: 20% !important;
  }
  @media (max-width: 1000px) {
    right: 20px;
  }
  animation: timer 0.5s ease-in-out infinite alternate;
  @keyframes timer {
    0% {
    }
    100% {
      transform: scale(1.02);
    }
  }
}
