@import "./var";

#timer {
  background-color: black;
  color: white;
  width: fit-content;
  position: absolute;
  right: $PostionTimerAndCounet;
  top: 7%;
  padding: 20px;
  font-size: 200%;
  z-index: 6;
  pointer-events: none;
}
